@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

h1, h2, h3, h4, h5, a, p, button, textarea {
  font-family: Outfit;
  color: #FFFFFF;
}

body {
  background-color: #112399;
  text-align: center;
}

hr {
  color: #FFFFFF;
  background-color: #FFFFFF;
  height: 4px;
}

me {
  width: 175px;
  border-radius: 9px;
}
